body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #eaf0f6;
}

.card {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.foto-profile {
position: absolute;
width: 150px; /* Width dan height sama */
height: 150px; 
margin-left: 20%;
transform: translate(-50%, 95%);
background: #ffffff;
border-radius: 50%; /* Membuat lingkaran */
overflow: hidden;
box-shadow: 0 0px 25px #5e3513;
transform-style: preserve-3d; /* Menjaga efek 3D */
transition: transform 0.3s ease-out; /* Animasi halus */
}

.foto-profile img {
width: 100%;
height: 100%;
object-fit: cover; /* Memastikan gambar terpotong sesuai lingkaran */
border-radius: 50%; /* Membuat gambar mengikuti bentuk lingkaran */
}

.profile-info {
    padding: 60px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, #030f1d 20%, #ffffff);
    color: #fff;
    border-radius: 0 0 15px 15px;
}

.profile-info h2 {
    padding-top: 30px;
    margin: 0;
    color: #030f1d;
    text-decoration:underline;
    font-size: 1.8em;
}

.profile-info p {
    margin: 10px 0;
    color:#030f1d;
    font-size: 0.9em;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 40px;
    padding-top: 0;
    padding-bottom: 5px;
}

.buttons a {
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2em;
    color: #fff;
    padding: 20px 10px;
    transition: transform 0.2s;
}

.buttons a:hover {
    transform: scale(1.05);
    transition: trasnsform 0.2s, background-color 0.5s ease-out;
    background-color: #030f1d;
    background-color: #ffffff;
    box-shadow: 0 10px 20px#030f1d;
    color:#030f1d
}

.sosmed {
    background-color: #030f1d;
}

.buttons a span img {
    width: 30px;
    height: 30px;
}

.company {
    font-weight: bold;
    color: #030f1d;
    margin-bottom: 10px;
    margin-top: 15px;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }

    .foto-profile {
        width: 140px;
        height: 140px;
        margin-left: 50%;
        transform: translate(-50%, 80%);
    }

    .profile-info h2 {
        font-size: 1.7em;
        margin-top: 15px;
    }

    .profile-info p {
        font-size: 0.9em;
    }

    .buttons {
        padding: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}